.input-field {
  border-radius: 0px;
  width: 250px;
  height: 25px;
  margin: 5px;
  background: #eee;
  --color: #4af;
  opacity: 0.8;
  border: 1px solid grey;
  position: absolute;
  z-index: 5000;
}
